EduDefEng.html
--- a/file:///c%3A/Users/anton/Desktop/MyWebsite/EduDefEng.html
+++ b/file:///c%3A/Users/anton/Desktop/MyWebsite/EduDefEng.html

EduDefPTBR.html
--- a/file:///c%3A/Users/anton/Desktop/MyWebsite/EduDefPTBR.html
+++ b/file:///c%3A/Users/anton/Desktop/MyWebsite/EduDefPT